@charset "utf-8";  /*add by chee 7/4 

/* body */
body {
    background:#4EAFC8;
    font-family:'Montserrat', 'MS PGothic';
}
/* body GHR */
#ghr {
    background:#9ff781;
    font-family:'Montserrat', 'MS PGothic';
}
/*footer*/
#footer{
    bottom: 0;
    height: 5em;
    position: relative;
    color:white;
}

.row{
    padding-top: 60px;
}
.row_top{
    padding-top: 60px;
}
.bkmoji{
    color:black;
    font-family: 'Montserrat','MS PGothic';
    font-size: 30px;
    margin-top:-13px;
}
/*nav-bar*/
.sidenav {
    height: 100%;
    width: 0px; /*for the cool nav 200px*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;/*for the cool nav #fff*/
    overflow-x: hidden;
    transition: 0.1s; /*もどしてみたよ edit by tiny*/
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 5px;/*for the cool nav 0px*/
    font-size: 36px;
    margin-right: 50px;/*for the cool nav 0px*/
}
#main { /*for the cool nav add*/
    transition: margin-left .5s;
    padding: 16px;
}

.nav-logo{
    height:120px;
    width:auto;
}
.nav-humberger{
    float:left;
    margin-top:20px;
    margin-left:20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Form-Panel*/
.panel-primary{
    font-size:15px;
}
.panel-body{
  font-family:'Montserrat', 'MS PGothic';
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    /*border: solid 3px #4EAFC8;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.panel-body{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}
/*reginster.blade.php*/
.signup {    /*iconimage*/
    height: 100px;
    width: auto;
}
/*login.blade.php*/
.att{    /*iconimage*/
    height: 110px;
    width: auto;
    margin-top: 10px;
}
.string{    /*formの文字*/
    color:white;
    font-size:25px;
    font-family:'Montserrat', 'MS PGothic';
}
/*edit.blade.phlに色を追加 & badgeに色を追加*/
.label{
  background-color:#36383F;
}
.badge{
 background-color:#4eb5e5;
}
.edit{
  font-size:20px;
}

/*login.blade.php 時間表記*/
#time{
  margin-top: 20px;
  font-family: 'Montserrat', 'MS PGothic';
  font-size:50px;
  color:#fff;
}
.timestring{
  margin-right: 30px;
  margin-left: 0px;
  color:#fff;
}
.timestrings{
  margin-left: 30px;
}
.nav-nickname{
  font-size:35px;
  color:white;
}
.panel-body{
  width:80%;
}




/*welcome1.blade.php/orenop-logo*/
.title{
    font-family:'Montserrat', 'MS PGothic';
    color:#fff;
    font-size:35px;
    padding: 20px 40px;
    margin-left:7px;
    pointer-events: none;
}

.top-logo{
    height: auto;
    width: 100px;
}
.form-group{
  font-family: 'Montserrat', 'MS PGothic';
}
.welcome{
  color:white;
  font-family: 'Montserrat', 'MS PGothic';
}

/*List*/
.table{
  background-color: white;
}

/*Table*/
table {
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-top-right-radius: 10px;
  overflow: hidden;
}
table thead th,
table tbody th,
table tbody td {
  padding: .6em 3em;
  border-bottom: 1px solid #aaa;
}
table thead th {
  background-color: #ddd;
}
table tbody th {
  background-color: #eee;
}
table thead th + th,
table tbody td {
  border-left: 1px solid #aaa;
}
table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}
.nav-link a:hover {
    color: #000;
}

.css--button--background--hover--effect, .primary--button:hover, .css--button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px 1px inset;
}

.css--button {
  transition: background 300ms, color 300ms, box-shadow 300ms;
  background: #F7F7F7;
  font-size: 15px;
  color: #555555;
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 15px 30px;
  cursor: pointer;
  border-width: 0;
  outline: none;
  border-radius: 2px;
}
/*button border*/
.border--button, .primary--border--button {
  background: transparent;
  box-shadow: 0px 0px 0px 2px inset;
}

/*button radius*/
.radius--button {
  border-radius: 50px;
}

/*primary button*/
.primary--button {
  background: #5CCFE9;
  color: #FFFFFF;
}
.primary--button:hover {
  color: #5CCFE9;
}

.primary--border--button {
  color: #36383F;
}
.primary--border--button:hover {
  background: #5CCFE9;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #5CCFE9 inset;
}

/*Link*/
.underline{
  width:15px;
  height:auto;
}
.links {
  width: 90%;
  margin: 0 auto;
}
.link {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.8rem;
  margin: 10px;
  position: relative;
  text-decoration:none;
}


.underline {
  border: 2px solid transparent;
}
.underline:after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.underline2:after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #000;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline:hover:after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
  color:white;
}
.underline2:hover:after {
  width: 140%;
  height: 2px;
  display: block;
  background-color: #000;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
  color:black;
}

.underline_long {
  border: 2px solid transparent;
}

.underline2 {
  border: 2px solid transparent;
  color:black;
}

.underline_long:after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline_long:hover:after {
  width: 140%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
  color:white;
}

a.underline_long  {/*リンクされた文字*/
    color:white;
    text-decoration:none;
}
a:link.underline_long {/*未訪問のリンク*/
    color:white;
    text-decoration:none;
}
a:visited.underline_long {/*訪問後のリンク*/
    color:white;
    text-decoration:none;
}
a:hover.underline_long {/*マウスをのせたとき*/
    color:white;
    text-decoration:none;
}
a:active.underline_long {/*クリック中*/
    color:white;
    text-decoration:none;
}
a.underline {/*リンクされた文字*/
    color:white;
    text-decoration:none;
}
a:link.underline {/*未訪問のリンク*/
    color:white;
    text-decoration:none;
}

a:visited.underline {/*訪問後のリンク*/
    color:white;
    text-decoration:none;
}
a:hover.underline {/*マウスをのせたとき*/
    color:white;
    text-decoration:none;
}
a:active.underline {/*クリック中*/
    color:white;
    text-decoration:none;
}


.balloon1 {
 	position: relative;
	display: inline-block;
 	margin: -3.0em 0;
	padding: 7px 10px;
	min-width: 130px;
 	max-width: 100%;
 	color: white;
	font-size: 25px;
	background: #36383F;
	border-radius: 8px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.5);

}

.balloon1:before{
	content: "";
	position: absolute;
	top: 80%;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-top: 15px solid #36383F;
}

.balloon1 p {
	margin: 0;
	padding: 0;
}

.ghr {
   background: #9ff781;
}
/*Lisのタブ*/
a:hover.tab-class{
  background-color:#eee; 
  cursor: pointer;
  cursor: hand;
  z-index: 5; 
}
.tab-class{
  background-color:#fff; 
  border-radius: 5px;
}
a:active .tab-col{
  background-color:#000; 
}
span.links{
  color: #000;
}
.frame {
 
}
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #36383F;/*文字色*/
    background: #FFF;
    border: solid 3px #36383F;/*線*/
    border-radius: 10px;/*角の丸み*/
    width:200px;
    height:75px;
}
.box2 p {
    margin:  0; 
    padding: 0;
}
.box2{
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);

}
.boxContainer{
  width: 100%;
  display: table;
  table-layout: fixed;
   border-collapse: separate;
  border-spacing: 15px 0;
  display: table;
  width: 50%;
}
