@charset "utf-8";  /*add by chee 7/4 

/* body */
body {
    background: white;
    font-family:Century Gothic;
}
footer {
    margin-top: 40px;
}

/* navbar.blade.php */
.navbar {
    background-image: -webkit-linear-gradient(left, #91EEA8, #91A5EE);
   /* background-color: #4682B4;*/
    font-family:Century Gothic;
    font-size:15px;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
    color:#fff;
}
.navbar-brand {
    background:url("/images/egg-white.png") no-repeat left center;
    background-size: contain;
    margin-top:0px;
    height: 70px;
    width: 100px;
}
.title{
    font-family:montserrat;
    color:#fff;
    font-size:35px;
    padding: 20px 40px;
    margin-left:7px;
}
.nav-signup{
    height: 50px;
    width: auto;
}
.nav-login{
    height: 50px;
    width: auto;
}
.nav-logout{
    height: 50px;
    width: auto;
}
.attendance{
    color:#fff;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    background: url("/images/cover-bg.jpg") center center no-repeat;
    background-size: cover;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.15em;
}
.cover .btn-success {
    background-color: #ed486f;
    border-color: #ed486f;
}
/*reginster.blade.php*/
.signup {
    height: 100px;
    width: auto;
}
.panel-primary{
    background-color:#4682B4;
    height: 40px;
    font-size:20px;
}
/*login.blade.php*/
.att{
    height: 100px;
    width: auto;
}
.string{
    color:white;
}
/*welcome.blade.php
.text-center{
    background-image: linear-gradient(-90deg, #98DD9F, #98A8DD);
}*/